:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40509377-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

%script(id="_webengage_script_tag" type="text/javascript")
  window.webengageWidgetInit = window.webengageWidgetInit || function(){
  webengage.init({
  licenseCode:"aa131b42"
  }).onReady(function(){
  webengage.render();
  });
  };

  (function(d){
  var _we = d.createElement('script');
  _we.type = 'text/javascript';
  _we.async = true;
  _we.src = (d.location.protocol == 'https:' ? "//ssl.widgets.webengage.com" : "//cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-3.0.js";
  var _sNode = d.getElementById('_webengage_script_tag');
  _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
